# Environment files
.env
*.env
.env.local
*.env.local
.env.*.local

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Node modules & build outputs
frontend/node_modules
dist
build

# Virtualenv
venv/
env/
ENV/
